name: Bump Version & Publish

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    uses: PozzettiAndrea/comfy-test/.github/workflows/publish.yml@main
    with:
      python-version: '3.11'
    secrets: inherit
